NodeRed/Update.json
[
    {
        "id": "8acef934be8bef18",
        "type": "tab",
        "label": "Update",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9021fef723c7b33a",
        "type": "debug",
        "z": "8acef934be8bef18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 240,
        "wires": []
    },
    {
        "id": "d282a224460864f9",
        "type": "ui_button",
        "z": "8acef934be8bef18",
        "name": "",
        "group": "39a350b22b6fdc77",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "new",
        "payloadType": "flow",
        "topic": "payload",
        "topicType": "msg",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "9021fef723c7b33a",
                "57972bca42fa75fe",
                "574b82aa9f1c2287"
            ]
        ]
    },
    {
        "id": "4dcdffe31963c4f8",
        "type": "http request",
        "z": "8acef934be8bef18",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "127.0.0.1:5000/a",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 830,
        "y": 340,
        "wires": [
            [
                "9021fef723c7b33a",
                "eb83689fec797e17"
            ]
        ]
    },
    {
        "id": "d1416693725d581e",
        "type": "json",
        "z": "8acef934be8bef18",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 440,
        "wires": [
            [
                "4dcdffe31963c4f8",
                "355f37338dc09fb8"
            ]
        ]
    },
    {
        "id": "972b04ffcc1b0ec6",
        "type": "mqtt in",
        "z": "8acef934be8bef18",
        "name": "",
        "topic": "GetData2023",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1e0211a137e982a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 60,
        "wires": [
            [
                "a3242f85970fa5b1",
                "21aa1b035a773878"
            ]
        ]
    },
    {
        "id": "a3242f85970fa5b1",
        "type": "debug",
        "z": "8acef934be8bef18",
        "name": "MQTT OUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "fd6e4f18ced4133b",
        "type": "mqtt out",
        "z": "8acef934be8bef18",
        "d": true,
        "name": "",
        "topic": "GetData2023",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1e0211a137e982a",
        "x": 1050,
        "y": 160,
        "wires": []
    },
    {
        "id": "197af703e97a4d94",
        "type": "inject",
        "z": "8acef934be8bef18",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Test msg",
        "payloadType": "str",
        "x": 840,
        "y": 160,
        "wires": [
            [
                "fd6e4f18ced4133b"
            ]
        ]
    },
    {
        "id": "57972bca42fa75fe",
        "type": "ui_toast",
        "z": "8acef934be8bef18",
        "position": "top right",
        "displayTime": "5",
        "highlight": "blue",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "SENT!",
        "name": "sent",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "355f37338dc09fb8",
        "type": "debug",
        "z": "8acef934be8bef18",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 480,
        "wires": []
    },
    {
        "id": "e2accd1b61a6bdb8",
        "type": "ui_dropdown",
        "z": "8acef934be8bef18",
        "name": "",
        "label": "Diabetes",
        "tooltip": "",
        "place": "Select option",
        "group": "39a350b22b6fdc77",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Yes",
                "value": "Yes",
                "type": "str"
            },
            {
                "label": "No",
                "value": "No",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "Diabetes",
        "topicType": "msg",
        "x": 520,
        "y": 620,
        "wires": [
            [
                "401a74c5eff2551c"
            ]
        ]
    },
    {
        "id": "22e5e47b8ffed54e",
        "type": "ui_button",
        "z": "8acef934be8bef18",
        "name": "",
        "group": "39a350b22b6fdc77",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get the latest patient status",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "9d36ac78821a6993"
            ]
        ]
    },
    {
        "id": "21aa1b035a773878",
        "type": "function",
        "z": "8acef934be8bef18",
        "name": "set global 2",
        "func": "function isEven(n) {\n    return n % 2 == 0;\n}\n\nlet X= msg.payload;\n\nif (isEven(X)){\n    msg.payload = 'Yes';\n    global.new2 = \"Yes\";\n}\n    \nelse{\n    msg.payload = \"No\";  \n    global.new2=\"No\";\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 40,
        "wires": [
            [
                "266586222c76f040"
            ]
        ]
    },
    {
        "id": "266586222c76f040",
        "type": "change",
        "z": "8acef934be8bef18",
        "name": "set Global mqtt",
        "rules": [
            {
                "t": "set",
                "p": "new2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "eb83689fec797e17",
        "type": "ui_toast",
        "z": "8acef934be8bef18",
        "position": "top right",
        "displayTime": "5",
        "highlight": "blue",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Final result",
        "name": "Final result",
        "x": 1090,
        "y": 340,
        "wires": []
    },
    {
        "id": "3c425d341ca3af7e",
        "type": "change",
        "z": "8acef934be8bef18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "9a642d35d52c0f4a",
        "type": "change",
        "z": "8acef934be8bef18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "82eadaf43b57afe0",
        "type": "change",
        "z": "8acef934be8bef18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f93906132e45cea5",
        "type": "change",
        "z": "8acef934be8bef18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "0f323711d2cce8c8",
        "type": "change",
        "z": "8acef934be8bef18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "5",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "4caf0a0972eda7d8",
        "type": "change",
        "z": "8acef934be8bef18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "6",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "3d4e9a98d60d17c4",
        "type": "change",
        "z": "8acef934be8bef18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "7",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ebb8688f55d2d2a3",
        "type": "change",
        "z": "8acef934be8bef18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "8",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "328bb47a62ef0d56",
        "type": "change",
        "z": "8acef934be8bef18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "9",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "91f0e657131ea434",
        "type": "change",
        "z": "8acef934be8bef18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "10",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "7a172ad0cff1a374",
        "type": "change",
        "z": "8acef934be8bef18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "11",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "ed4405baae30cf01",
        "type": "change",
        "z": "8acef934be8bef18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "12",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "bbae2bfd2733ab3c",
        "type": "change",
        "z": "8acef934be8bef18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "13",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "736f8c2d62214730",
        "type": "change",
        "z": "8acef934be8bef18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "14",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "401a74c5eff2551c",
        "type": "change",
        "z": "8acef934be8bef18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "15",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "574b82aa9f1c2287",
        "type": "template",
        "z": "8acef934be8bef18",
        "name": "Convert all to json",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"Data\":\"{{global.1}}\\n{{global.2}}\\n{{global.3}}\\n{{global.4}}\\n{{global.5}}\\n{{global.6}}\\n{{global.7}}\\n{{global.8}}\\n{{global.9}}\\n{{global.10}}\\n{{global.11}}\\n{{global.12}}\\n{{global.13}}\\n{{global.14}}\\n{{global.15}}\"}",
        "output": "str",
        "x": 550,
        "y": 440,
        "wires": [
            [
                "d1416693725d581e"
            ]
        ]
    },
    {
        "id": "9d36ac78821a6993",
        "type": "template",
        "z": "8acef934be8bef18",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{global.new2}}",
        "output": "str",
        "x": 360,
        "y": 620,
        "wires": [
            [
                "e2accd1b61a6bdb8"
            ]
        ]
    },
    {
        "id": "fadce6d49230dc29",
        "type": "ui_dropdown",
        "z": "8acef934be8bef18",
        "name": "",
        "label": "AgeDecade",
        "tooltip": "",
        "place": "Select option",
        "group": "39a350b22b6fdc77",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "0-9",
                "value": "0-9",
                "type": "str"
            },
            {
                "label": "10-19",
                "value": "10-19",
                "type": "str"
            },
            {
                "label": "20-29",
                "value": "20-29",
                "type": "str"
            },
            {
                "label": "30-39",
                "value": "30-39",
                "type": "str"
            },
            {
                "label": "40-49",
                "value": "40-49",
                "type": "str"
            },
            {
                "label": "50-59",
                "value": "50-59",
                "type": "str"
            },
            {
                "label": "60-69",
                "value": "60-69",
                "type": "str"
            },
            {
                "label": "70+",
                "value": "70+",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "AgeDecade",
        "topicType": "msg",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "3c425d341ca3af7e"
            ]
        ]
    },
    {
        "id": "d6b61f4b0239631a",
        "type": "ui_dropdown",
        "z": "8acef934be8bef18",
        "name": "",
        "label": "Race",
        "tooltip": "",
        "place": "Select option",
        "group": "39a350b22b6fdc77",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Black",
                "value": "Black",
                "type": "str"
            },
            {
                "label": "White",
                "value": "White",
                "type": "str"
            },
            {
                "label": "Other",
                "value": "Other",
                "type": "str"
            },
            {
                "label": "Mexican",
                "value": "Mexican",
                "type": "str"
            },
            {
                "label": "Hispanic",
                "value": "Hispanic",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "Race1",
        "topicType": "msg",
        "x": 70,
        "y": 80,
        "wires": [
            [
                "9a642d35d52c0f4a"
            ]
        ]
    },
    {
        "id": "a2ec263e16d6a425",
        "type": "ui_dropdown",
        "z": "8acef934be8bef18",
        "name": "",
        "label": "HealthGen",
        "tooltip": "",
        "place": "Select option",
        "group": "39a350b22b6fdc77",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Excellent",
                "value": "Excellent",
                "type": "str"
            },
            {
                "label": "Fair",
                "value": "Fair",
                "type": "str"
            },
            {
                "label": "Good",
                "value": "Good",
                "type": "str"
            },
            {
                "label": "Poor",
                "value": "Poor",
                "type": "str"
            },
            {
                "label": "Vgood",
                "value": "Vgood",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "HealthGen",
        "topicType": "msg",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "3d4e9a98d60d17c4"
            ]
        ]
    },
    {
        "id": "c57b27b6a223b612",
        "type": "ui_dropdown",
        "z": "8acef934be8bef18",
        "name": "",
        "label": "Work",
        "tooltip": "",
        "place": "Select option",
        "group": "39a350b22b6fdc77",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Looking",
                "value": "Looking",
                "type": "str"
            },
            {
                "label": "NotWorking",
                "value": "NotWorking",
                "type": "str"
            },
            {
                "label": "Working",
                "value": "Working",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "Work",
        "topicType": "msg",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "f93906132e45cea5"
            ]
        ]
    },
    {
        "id": "f2ec38333bc941f4",
        "type": "ui_text_input",
        "z": "8acef934be8bef18",
        "name": "",
        "label": "DirectChol",
        "tooltip": "",
        "group": "39a350b22b6fdc77",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "DirectChol",
        "topicType": "msg",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "0f323711d2cce8c8"
            ]
        ]
    },
    {
        "id": "5ff224b27e36dda1",
        "type": "ui_text_input",
        "z": "8acef934be8bef18",
        "name": "",
        "label": "TotChol",
        "tooltip": "",
        "group": "39a350b22b6fdc77",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "TotChol",
        "topicType": "msg",
        "x": 80,
        "y": 240,
        "wires": [
            [
                "4caf0a0972eda7d8"
            ]
        ]
    },
    {
        "id": "ac2df2583a424162",
        "type": "ui_dropdown",
        "z": "8acef934be8bef18",
        "name": "",
        "label": "Depressed",
        "tooltip": "",
        "place": "Select option",
        "group": "39a350b22b6fdc77",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Most",
                "value": "Most",
                "type": "str"
            },
            {
                "label": "Several",
                "value": "Several",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "Depressed",
        "topicType": "msg",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "ebb8688f55d2d2a3"
            ]
        ]
    },
    {
        "id": "45aebbfcc8717d19",
        "type": "ui_text_input",
        "z": "8acef934be8bef18",
        "name": "",
        "label": "Poverty",
        "tooltip": "",
        "group": "39a350b22b6fdc77",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "Poverty",
        "topicType": "msg",
        "x": 80,
        "y": 120,
        "wires": [
            [
                "82eadaf43b57afe0"
            ]
        ]
    },
    {
        "id": "f8c7e68dc59e695a",
        "type": "ui_dropdown",
        "z": "8acef934be8bef18",
        "name": "",
        "label": "SleepTrouble",
        "tooltip": "",
        "place": "Select option",
        "group": "39a350b22b6fdc77",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "No",
                "value": "No",
                "type": "str"
            },
            {
                "label": "Yes",
                "value": "Yes",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "SleepTrouble",
        "topicType": "msg",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "328bb47a62ef0d56"
            ]
        ]
    },
    {
        "id": "8a6212c714718da1",
        "type": "ui_dropdown",
        "z": "8acef934be8bef18",
        "name": "",
        "label": "SmokeNow",
        "tooltip": "",
        "place": "Select option",
        "group": "39a350b22b6fdc77",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Yes",
                "value": "Yes",
                "type": "str"
            },
            {
                "label": "No",
                "value": "No",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "SmokeNow",
        "topicType": "msg",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "91f0e657131ea434"
            ]
        ]
    },
    {
        "id": "09798e18833056ce",
        "type": "ui_dropdown",
        "z": "8acef934be8bef18",
        "name": "",
        "label": "PregnantNow",
        "tooltip": "",
        "place": "Select option",
        "group": "39a350b22b6fdc77",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "No",
                "value": "No",
                "type": "str"
            },
            {
                "label": "Yes",
                "value": "Yes",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "PregnantNow",
        "topicType": "msg",
        "x": 100,
        "y": 560,
        "wires": [
            [
                "736f8c2d62214730"
            ]
        ]
    },
    {
        "id": "7936f74b86eab12d",
        "type": "ui_dropdown",
        "z": "8acef934be8bef18",
        "name": "",
        "label": "HardDrugs",
        "tooltip": "",
        "place": "Select option",
        "group": "39a350b22b6fdc77",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Yes",
                "value": "Yes",
                "type": "str"
            },
            {
                "label": "No",
                "value": "No",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "HardDrugs",
        "topicType": "msg",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "7a172ad0cff1a374"
            ]
        ]
    },
    {
        "id": "4e84cd9617e003b1",
        "type": "ui_dropdown",
        "z": "8acef934be8bef18",
        "name": "",
        "label": "SameSex",
        "tooltip": "",
        "place": "Select option",
        "group": "39a350b22b6fdc77",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Yes",
                "value": "Yes",
                "type": "str"
            },
            {
                "label": "No",
                "value": "No",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "SameSex",
        "topicType": "msg",
        "x": 80,
        "y": 480,
        "wires": [
            [
                "ed4405baae30cf01"
            ]
        ]
    },
    {
        "id": "5290a8b068ab600b",
        "type": "ui_dropdown",
        "z": "8acef934be8bef18",
        "name": "",
        "label": "SexOrientation",
        "tooltip": "",
        "place": "Select option",
        "group": "39a350b22b6fdc77",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Bisexual",
                "value": "Bisexual",
                "type": "str"
            },
            {
                "label": "Heterosexual",
                "value": "Heterosexual",
                "type": "str"
            },
            {
                "label": "Homosexual",
                "value": "Homosexual",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "SexOrientation",
        "topicType": "msg",
        "x": 100,
        "y": 520,
        "wires": [
            [
                "bbae2bfd2733ab3c"
            ]
        ]
    },
    {
        "id": "39a350b22b6fdc77",
        "type": "ui_group",
        "name": "Update",
        "tab": "ea379b1ea93e4ef2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d1e0211a137e982a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ea379b1ea93e4ef2",
        "type": "ui_tab",
        "name": "Prediction of diabetes",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]